
/* -= ESTILIZAÇÃO PADRÃO DAS PÁGINAS CULTURAIS =- */

/* IMPORTANDO A FONTE DA WEB */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


/* DEFININDO TODOS OS H1'S DO PROJETO COM A SEGUINTE FONTE */



/* PADDING DA PÁGINA */


h1{
    font-family: Sedgwick Ave Display;
    font-size: 40pt;
}
h2{
    font-family: Sedgwick Ave Display;
    font-size: 40pt;
}
.pading{

    padding: 40pt;
}
a {
        text-decoration: none; 
        color: inherit; 
    }

img {
  border-radius: 5%;
  /* Deixa as imagens um pouco arredondadas */
}


/* CONFIGURAÇÃO DA NAVBAR: */


/* CONFIGURANDO O TÍTULO DA NAVBAR */
.tituloNavbar{
    font-family: Sedgwick Ave Display;
    color: white;
    font-size: 30pt;
}

/* DEFININDO A COR DE FUNDO DA NAVBAR PARA A DESEJADA */
.corNavbar{
    background-color: #00bf63;
}

/* DEFINO COM QUE A NAVBAR ENCONSTE NO TOPO DA PÁGINA AO COLOCAR UM MARGIN TOP NEGATIVO */
.posicaoNavbar{
    margin-top: -6pt;
}

/* ALTERO O TAMANHO DA NAVABR */


.tamanhoNavbar{
    padding: 10pt;
    
    
}



/* CONFIGURAÇÃO DE ESPAÇAMENTO DAS IMAGENS DA PÁGINA */

.Imagem{
    padding: 12pt;
}

/* -= ESTILIZAÇÃO PÁGINA ARTES - CALTON =- */
/* igual ao padrão */

/* -= ESTILIZAÇÃO PÁGINA CAPOEIRA - BERNARDO =- */
.titulo{
    position: relative;
    left: 970;
    top: 240;
}


.primeiroTopico{
    position: relative;
    left: 855;
    bottom: 1300;
    width: 500;


}

.segundoTopico{
    position: relative;
    bottom: 1000;
    right: 70;
}

.terceiroTopico{
    position: relative;
    left: 565;
    bottom: 825;
   

}

.quartoTopico{
    position: relative;
    bottom: 800;
    right: 40;
}

.foto01{
     position: relative;
     left: -20; 
     bottom: -120;
}

.foto02{

    position: relative;
    left: 618;
    top: 400;
    
}

.posicao{
    position: relative;
    left: 80;
}

.textoComBorda2 {

  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
    2px 2px 0 rgb(0, 0, 0);
  /* Borda para os titulos */
}

/* -= ESTILIZAÇÃO PÁGINA CATOLICISMO - ARTHUR =- */
/* Mesma coisa que a base */




/* -= ESTILIZAÇÃO PÁGINA EDUCAÇÃO - RICHARD =- */
.titulo1{

    position: relative;
    left: 455;
    bottom: 270;

}


.tuti1{
    position: relative;
    left: 400;
    bottom: 290;

}

.titu2{
    position: relative;
    bottom: 260;
    right: 30;
}
.mt-0{
    margin-left: 20pt;
    margin-right: 20pt;
}

/* -= ESTILIZAÇÃO PÁGINA ESPORTES - RAFAEL =- */
/* Mesma coisa que a base */

/* -= ESTILIZAÇÃO PÁGINA RAP - YANK =- */
/* Mesma coisa que a base */
