@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


/* DEFININDO TODOS OS H1'S DO PROJETO COM A SEGUINTE FONTE */

h1{
    font-family: Sedgwick Ave Display;
    
}





/* CONFIGURAÇÃO DA NAVBAR: */


/* CONFIGURANDO O TÍTULO DA NAVBAR */
.tituloNavbar{
    font-family: Sedgwick Ave Display;
    color: white;
}

/* DEFININDO A COR DE FUNDO DA NAVBAR PARA A DESEJADA */
.corNavbar{
    background-color: #00bf63;
}

/* DEFINO COM QUE A NAVBAR ENCONSTE NO TOPO DA PÁGINA AO COLOCAR UM MARGIN TOP NEGATIVO */
.posicaoNavbar{
    margin-top: -6pt;
}



/* CONFIGURAÇÃO DE ESPAÇAMENTO DAS IMAGENS DA PÁGINA */

.Imagem{
    padding: 10pt;
}

